<html lang="en">


    <head>
        <meta charset="utf-8">
        <title>Booking</title>

    </head>
    <body>
        <div class="container">


            <h3>Booking</h3>


            <div ng-controller="View2Ctrl">



                <form role="form" ng-submit="book(booker)"><pre>
        First Name: <input type="text" name="fName" ng-model="booker.fName" required>

        Last Name:  <input type="text" name="lName" ng-model="booker.lName" required>

        Email:      <input type="text" name="address" ng-model="booker.email" required>

        Phone:      <input type="text" name="city" ng-model="booker.phone" required> 
    
         <div ng-repeat="passenger in passengers">
             Passenger:{{passenger + 1}}
             
             Full Name: <input type="text" ng-model="booker.passengers[passenger].Name" required>
             
             
             </div>

        


                    <button type="submit" class="btn btn-success">Submit Order</button>  </pre>  
                </form>
            </div>

        </div>
    </body>
</html>
